.ToDoList{
    background-color: gray;
    border:1px solid black;
    margin:3px;
    padding: 2px auto;
    display: flex;
    position: relative;
}
.ToDoList>p{
    margin:5px 0 0 3px;
}
.isComplete{
    text-decoration: line-through;
    background-color: white;
}
.text{
    opacity:0.3
}
.x{
    margin-right: 3px;
    position: absolute;
    right:2px
}