.App {
  
  width:50%;
  height:40px;
  margin:0 auto;
  
}
.Header{
  display: flex;
}
.Header>input{
  width:100%;
  font-size:24px;
  font-weight:300;
  margin-left:10px;
  border:none
}
.Header>input:focus{
  outline: none;
}

